@import url(https://fonts.googleapis.com/css2?family=Lancelot&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: white 1px dotted;*/
}

body, html {
    min-height: 300dvh;
}

.showcase {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    .header {
        background-image: linear-gradient(to top, #000000, #0c0c0c, #141414, #1b1b1b, #212121);

        width: 100%;
        height: 10dvh;
        position: fixed;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
            filter: none;
            transform: scale(1.1);
            p {
                transform: scale(1.4);
            }
        }

        p, a {
            transition: 0.5s;
            font-family: "Lancelot";
            color: white;
            text-decoration: none;
        }

    }

    .sticky {
        position: fixed;
        top: 0;
        width: 100%
      }

    .mpv {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100dvh;
        object-fit: cover;
        opacity: 0.8;
    }
    .overlay {
        width: auto;
        height: auto;
        background-color: rgba(255, 255, 255, 0.537);
        position: absolute;
        top: 50%;
        left: 39%;
        padding: 10px;
    }
}


.awards {
    width: 100%;
    height: 60dvh;
    background-image: linear-gradient(to bottom, #000000, #000, #12040d, #180a1a, #151128, #001937);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &:hover {
        .img-container, .img-container-2 {
            animation-play-state: paused;
        }
    }

    h2 {
        color: white;
    }

    .img-container {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        top: 10%;
        left: 100%;
        position: absolute;
        animation: carousel 20s linear infinite;
    }

    .img-container-2 {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: flex-start;
        gap: 10rem;
        align-items: center;
        padding-left: 5rem;

        top: 10%;
        left: 100%;
        position: absolute;
        animation: carousel 20s linear infinite;
        animation-delay: 10s;
    }

    img {
        width: 20%;
        height: 90%;
        transition: 0.5s ease;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

@keyframes carousel {
    0% {
        left: 100%;
    } 100% {
        left: -100%;
    }
}

.characters {
    width: 100%;
    height: 100dvh;
    background-image: linear-gradient(to bottom, #001937, #002146, #002855, #023064, #063874);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;
    position: relative;

    h1 {
        color: white;
    }

    .img-container {
        width: 100%;
        height: 70%;
        position: relative;
        img {
            width: 30%;
            height: auto;
            position: absolute;
        }

        .fern {
            clip-path: polygon(50% 0%, 100% 0%, 75% 100%, 25% 100%);
            top: 10%;
            left: 15%;
        }
        .frieren {
            clip-path: polygon(35% 0%, 90% 0%, 65% 100%, 10% 100%);
            top: 10%;
            left: 35%;
        }
        .stark {
            clip-path: polygon(25% 0%, 75% 0%, 55% 100%, 0% 100%);
            top: 10%;
            left: 55%;
        }
    }

    .feature-2 {
        color: rgb(200, 200, 200);
        text-decoration: none;
        font-family: "Lancelot";
        font-size: 20pt;
        font-weight: 700;

        position: absolute;
        top: 70%;

        animation: spanning 2s linear infinite;
    }
}

@keyframes spanning {
    0% {
        transform: scale(1);
    } 50% {
        transform: scale(1.2);
    } 100% {
        transform: scale(1);
    }
}

.footer {
    width: 100%;
    height: 20dvh;

    .up {
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to bottom, #063874, #063874, #033e82, #004490, #00499e, #004fad);

        display: flex;
        justify-content: center;
        gap: 1rem;

        p {
            color: white;
            font-weight: 700;
        }
        img {
            width: 10%;
            height: 55%;
        }
    }

    .down {
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to bottom, #004fad, #1559ae, #2763ae, #366cae, #4675ad);

        display: flex;
        justify-content: center;
        align-items: flex-end;

        .overlay {
            width: 100%;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 2px;
            transition: 0.3s ease-in;

            display: flex;
            justify-content: center;
            align-items: center;

            &:not(:hover) {
                opacity: 0.2;
            }
        }
    }
}